<%- include('../partials/header2'); %>
<style script="guildIcons">
        #guildIcon + span, .container > a {
        text-decoration: none;
        color: black;
    }
    #guildIcon {
        padding: 0.5%;
        margin: 1%;
        background-color: black;
        border-radius: 128px;
        width: 128px;
        height: 128px;
        transition: border-radius 1s, width 1s, height 1s;
    }
    #guildIcon:hover {
        border-radius: 20px;
        width: 150px;
        height: 150px;
    }
    #guildIcon:hover + .tooltiptext {
        visibility: visible;
        opacity: 100%;
    }
    .tooltiptext {
        display: inline-block;
        visibility: hidden;
        position: absolute;
        padding: 5px;
        background-color: white;
        border: 2px black solid;
        border-radius: 10px;
        margin-top: 60px;
        opacity: 0%;
        transition: opacity 1s;
    }
</style>
<br>
<div class="text-center">
    <img src="<%= usericon %>" width="128px" style="border-radius: 100%;" />
    <h1>Hello <%= username %></h1>
    <p>Not you? <a href="/dash/end">Logout</a> of the dashboard and log back in.<br>To edit your UserDB configuration, click UserDB at the top. To manage your server, click on one of your servers below.</br></p>
    <br><br>
    <h3>Your servers</h3>
    <div></div>
    <p>You are in <b><%= guilds.length %></b> servers. To continue, select your server from below.<br>If <%= (bottype == 'prod' ? 'Phoenix' : 'Phoenix Staging') %> is not added to your server, you will be automatically redirected to the screen to add the bot.</p>
</div>
<div class="container bg-secondary text-center">
<% if (guilderror != "") { %>
<h4 id="bannerMessage" style="color: white; background-color:darkred;"><button class="btn" style="color: white;" onclick="document.getElementById('bannerMessage').style.display = 'NONE';">X</button><%= guilderror %></h4>
<% } %>
<% if (guilds) { guilds.forEach((server, index) => { %>
<a href="/dash/servers/<%= server.id %>"><img id="guildIcon" src="https://cdn.discordapp.com/icons/<%= server.id %>/<%= server.icon %>.png?size=128"/><span class="tooltiptext"><%= server.title %></span></a>
<% })} else { %>
<br><h2 style="color: white;">We hit a snag!</h2>
<p style="color: white;">There was an error loading your servers. Most likely reason is you've been rate limited. Reloading the page should fix it.</p>
<button class="btn btn-primary" onclick="location.reload();">Click to retry</button>
<h2>  </h2>
<% } %>
</div>
<script>
    let userthing = window.localStorage.getItem('userTemp');
    if (!userthing) {
        window.localStorage.setItem('userTemp', JSON.stringify({
            username: "<%= username %>",
            usericon: "<%= usericon %>"
        }));
    }
</script>
<%- include('../partials/footer'); %>