<%- include('../partials/header2'); %>
<style>
body {
  background-image: url(<%= background %>);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container {
    background-color: white;
}
</style> 
<br>
<div class="container rounded-4 text-center">
    <br><img src="https://cdn.discordapp.com/icons/<%= server.id %>/<%= server.icon %>.png?size=128" style="padding: 0.5%; background-color: black; border-radius: 100%;"/>
    <p><h1><%= server.name %></h1><br>The configuration for this server is below.</p><br>
</div>
<br>
<div class="container rounded-4">
    <h1>Configuration</h1>
    <p>Idk</p>
</div>

<%- include('../partials/footer'); %>